// sidebar
$menuText:#000000;
$menuActiveText:#409EFF;
$subMenuActiveText:#fff; //https://github.com/ElemeFE/element/issues/12951
$activeBg: #D72324;

$menuBg:#fff;
$menuHover:#D72324;

$subMenuBg:#fff;
$subMenuHover:#D72324;

$sideBarWidth: 176px;
$navBarHeight: 128px;
$footerHeight: 50px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  activeBg: $activeBg;
  navBarHeight: $navBarHeight;
  footerHeight: $footerHeight;
}
